
// general Style

.popUpContainerStyGen
{
    width: 90%;
    margin: 0 auto;

    div:nth-child(3)
    {
        & > div:nth-child(1)
        {
            max-width: 100% !important;
            width: 100%;
        }
    }
}


.gridSty
{
    padding-top: 10px !important;
}

.CardContentSty
{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.AutocompleteMulFieldStyAR
{
        div
        {
            div
            {
                margin: 0;
            }
        }
}

.customToolbarBtn
{
    display: inline-block;
}

.fieldsSty
{
    margin: 0 !important;
}

.generalBtnStys
{
    margin: 0 5px !important;
}

.tableCellSty
{
    pre
    {
        font-size: 11px;
    }
}


// general Style -- end


@media screen {

    .detailedAttPrintSty
    {
        height: 0;
        visibility: hidden;
    }
    
    }
    
    
    @media print {
        .detailedAttPrintSty
        {
            height: 100%;
            visibility: visible;
            color: #000000;
        }
    }


.tableContainerSty
{
    padding: 20px;
    background-color: #ffffff;

}


.tableContainerStyAr
{
    div
    {
        div
        {
           & > div:nth-child(2)
            {
                text-align: left;
            }
        }

        & > div:nth-child(3)
        {
            table
            {
                th
                {
                    span
                    {
                        button
                        {
                            justify-content: right;
                            margin-right: -14px;
                        }
                    }
                }
            }
        }
    }

    .tableSty
    {
        div:nth-child(3)
        {
            position: inherit !important;
        }
    }
}

.actionsSty
{
    display: flex;

    button
    {
        width: 40px;
        height: 40px;
        align-items: end;
        margin-top: 10px !important;
    }
}


.comboBoxContainer,
.comboBoxContainerAR
{
    display: flex;
    align-items: center;

    & > div 
    {
        width: 100%;
    }
}


.comboBoxContainer
{
    

    & > div 
    {
        margin-right: 10px;
    }
}

.comboBoxContainerAR
{
    & > div 
    {
        margin-left: 10px;
    }
}

.btnContainer
{
    margin-top: 24px;
}

// Import file page
.btnsContainer
{
   & > div:nth-child(1)
    {
        justify-content: space-between;
        background-color: #e8eaf6;
    }
}
.importBtn
{
    text-align: right;
    display: flex;
    justify-content: right;
    // width: 500px;
    button
    {
        width: 114px;
    }
}

.comboBoxSty
{
    width: 370px;

    & > div
    {
        div
        {
            height: 50px;
            padding: 0 !important;
        }
    }
}

.kpiComboBoxSty
{
    & > div
    {
        margin-top: 8px;
    }
}

.kpiComboBoxSty2
{
    & > div
    {
        margin-top: 0px;
    }
}



.ImportTableContainer
{
    .tableSty
    {
        div:nth-child(3)
        {
            table
            {
                th
                {
                    // background-color: #e8eaf6;
                }
            }
        }
    }
}

// Import file page -- end


// delete Alert popup page
.deleteAlertBtnSty
{
    width: 80px;
}
// delete Alert popup page --end

// create organization
.fieldsSty
{
    margin: 0;
}

.errorMes
{
    font-size: 12px;
    color: #f00;
}

// create organization --end

// Employee Documents 

.container
{
    & > div
    {
        div
        {
            div
            {
                margin: 0;
            }
        }
    }
}
.EmpDocTableContainerSty
{
    margin-top: 30px;
}

.imgContainer
{
    justify-content: center;
    text-align: center;
    height: 298px;
    align-items: flex-start !important;

    img
    {
        width: 60%;
        max-height: -webkit-fill-available;
        box-shadow: 0px 3px 5px -1px #bdbdbd;
        border-radius: 3px;
    }

    object
    {
        pointer-events: none;
        box-shadow: 0px 3px 5px -1px #bdbdbd;
    }
}

.printBtnSty,
.BtnSty
{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.uploadBtnSty
{
    opacity: 0;
    width: 2px !important;
    height: 2px;
}


.viewerPopup
{

   & > div:nth-child(3)
    {
        & >  div
        {
            max-height: none;
            max-width: none;
            width: 80%;
            // height: 90%;
            // height: -webkit-fill-available;
            // height: inherit;
            max-height: 90%;

            object
            {
                height: 100%;
            }
        }

    }

    .fileContainer
    {
        height: 100%;
        // text-align: center;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        img
        {
            max-height: -webkit-fill-available;
        }
    }

    & > div:nth-child(3)
        {

            & > div:nth-child(1)
            {
                & > div:nth-child(2)
                {
            position: relative;
            max-height: 100vh;
            height: 100vh;

            p
            {
                display: flex;
                justify-content: center;
                align-items: center;

                img
                {
                    height: auto;
                    position: absolute;
                }
            }
                }
            }
            
        }
}

// Employee Documents --end



// Request Premissions
.TextareaAutosizeSty
{
    width: 100%;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px;
    border-radius: 12px 12px 0 12px;
    background:  '#fff';
    border-color: rgba(0, 0, 0, 0.23);
    height: 104px !important;
    overflow: hidden;
  
    &:hover {
      border-color: #000000;
    }
  
    &:focus {
      border-color: #3f51b5;
    }
  
    // firefox
    &:focus-visible {
      outline: 0;
    }
}


.totalMinutesContainer
{
    & > div
    {
       margin: 0 !important;
    }
}

.timeContainer
{
    & > div
    {
        & > div
        {
            input
            {
                text-align: right;
            }
        }
    }
}


// Request Premissions --end


// Official Vacations
.AutocompleteMulSty
{
        width: auto !important;
    & > div
    {
        & > div
        {
            display: table;
            padding: 10px !important;
           
            

            input
            {
                width: -webkit-fill-available !important;
                // width: auto !important;
                display: inline;
            }
        }
    }
}

.AutocompleteMulStyAR
{
    & > div
    {
        & > div
        {
            div
            {
               & > svg
                {
                    margin: 0 -6px 0 5px !important;
                }
            }
        }
    }
}

// Official Vacations --end


//  Vacations types
.ElementsContainer
{
    & > div
    {
         margin: 0 !important;
    }
}

.DayValueContainer
{
    & > div
    {
        margin: 0 !important;
    }
}

// Vacations types --end



//  Government Sick Leave Setting 

.EmployeeDaysDeduction
{
    padding-top: 20px;
}

.EmployeeDaysDeductionTitle
{
    text-align: center;
}

//  Government Sick Leave Setting --end

// ImportVacations
.btnsStyle
{
    text-align: end;
    justify-content: end;
}

.btnsStyleAr
{
    text-align: start;
    justify-content: start;
}

// ImportVacations --end

// Import Leave Balance page
.comboBoxSty2
{
    max-width: 100%;
    margin: 0 auto;
    
    div
    {
        margin: 0;
        margin-top: 1px;
    }
}
// Import Leave Balance page -- end

// WorkinHoursByTimeReport page
.timeStyle
{
    & > div
    {
        padding-left: 5px;
    }
}

// WorkinHoursByTimeReport page -- end



// personal page

.CardExpiredSty
{
    color: #f00;
}

// personal page -- end


// MissionTransportaion 

    .tableContainer
    {
        overflow: auto;
    }

// MissionTransportaion -- end




.addbuttonlink
{
    color: white;
    text-decoration:none;

}
// reaponsive style --end


// Employee Investigation


.investigationAnswer
{
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 4px;
    background: none;
}

.addIconSty
{
    font-size: 22px !important;
    cursor: pointer;

    &:hover
    {
        font-size: 24px !important;
    }
}



.investigationPrintTitle
{
    text-align: center;
}

.investigationPrintDate
{
    text-align: center;
    font-size: 18px;
}

.investigationPrintNames
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    & > p
    {
        span:nth-child(1)
        {
            font-size: 17px;
            font-weight: bolder;
        }
    }
}

.investigationPrintSection
{
    font-size: 20px;
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 5px;
}

.investigationPrintSignaturesSection
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    page-break-inside: avoid;
}

.printContainers
{
    page-break-inside: avoid;
}



// Employee Investigation - end



// Job Advertisement 

.cardsTitle
{
    font-size: 20px;
    font-weight: bolder;
}

.popupContainer
{
    & > div
    {
        & > div
        {
            max-width: none;
            width: 60%;
        }
    }
}


// Job Advertisement  - end




// HR Application Evaluation  

.cardSty
{
    cursor: pointer;
}

// HR Application Evaluation - end


// Job Application Preview

.queSty
{
   font-size: 16px;
   font-weight: bolder;
}

.ansSty
{
   font-size: 13px;
   color: #838383;
}

// HR Application Evaluation - end


// Stage

.tasksContainerSty
{
    margin-top: 24px !important;
}

// Stage - end


// GPS Attendance --
.clockSty
{
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    border-radius: 10px;
    width: max-content;
    padding: 10px 25px;
    margin: 0 auto;
    box-shadow: 0px 5px 6px 0px #0000007d;
}


.attBtnSty
{
    width: 87px 
}

.historyCardSty
{
    background-color: #d3e4fc;
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    border-radius: 5px;
}


// GPS Attendance --end



// PaymentSlipReview

.PaymentSlipReviewContainer
{
    background-color: #ffffff;
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 1px 3px 0px #9d9d9d;
}


// PaymentSlipReview --end


// Mission List 
.VisitDurationCardSty
{
    color: #ffffff;
    margin: 0px auto;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    box-shadow: rgb(129, 129, 129) 0px 2px 4px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    // flex-direction: column;

    & > span:nth-child(1)
    {
        font-size: 13px;
        font-weight: bolder;
    }

    & > span:nth-child(2)
    {
        font-size: 25px;
        text-align: center;
        margin: 0px;
        font-weight: bolder;
    }
}



// Mission List  --end


// Employee Schedule
.EmployeeSchedulePopUpContainerSty
{
    width: 70%;
    margin: 0 auto;

    div:nth-child(3)
    {
        & > div:nth-child(1)
        {
            max-width: 100% !important;
            width: 100%;
        }
    }
}

// Employee Schedule --end


// Employee Status Report
.employeeStatusContainerSty
{
   padding: 15px;
   border-radius: 10px;

   .cardContainer
   {
    display: flex;
    padding-bottom: 10px;

    & > div:nth-child(1)
    {
        background-color: transparent;
    }

    & > div:nth-child(2)
    {
        span
        {
            font-size: 11px;
            font-weight: bolder;
        }

        p
        {
            font-size: 15px;
            margin: 0;
            color: #999;
        }
    }
   }
}

// Employee Status Report --end










// reaponsive style

@media only screen and (max-width: 1234px) 
{
    // ImportVacations
    .btnsStyle
    {
        text-align: center;
    }

    .btnsStyleAr
    {
        text-align: center;
    }

    // ImportVacations --end

        // Import Leave Balance page
.comboBoxSty2
{    
        margin-top: 5px;
        margin-bottom: 5px;
}
// Import Leave Balance page -- end

// RegisterLocation
    .deleteIcon
    {
        left: 53.5% !important;
    }
    .searchSty
    {
        right: 2% !important;
        top: 55px !important;
    }
// RegisterLocation -- end

// UploadFileWithKPI page
    .kpiBtnsSty
    {
        text-align: center;
    }
    // UploadFileWithKPI page -- end
}


@media only screen and (max-width: 1066px) 
{
    // MissionTransportaion 

        .tableContainer
        {
            .tableSty
            {
                width: max-content;;
            }
        }
        
    // MissionTransportaion -- end
}

@media only screen and (max-width: 899px) 
{
    .actionsSty
    {
        button
        {
            margin-top: 0 !important;
        }
    }

    // Import Leave Balance page
    .comboBoxSty2
    {    
        margin-top: 20px;
        margin-bottom: 20px;
    }
    // Import Leave Balance page -- end

    // RegisterLocation
    .deleteIcon
    {
        left: 57% !important;
    }
// RegisterLocation -- end



// Job Advertisement 

.popupContainer
{
    & > div
    {
        & > div
        {
            max-width: none;
            width: 100%;
        }
    }
}

.historyCardSty
{
    width: 100%;
}


// Mission List 
.VisitDurationCardSty
{
    flex-direction: column;
}
// Mission List  --end

}

@media only screen and (max-width: 480px) 
{
    // general Style
    .itemsStyle
    {
        justify-content: center;
        text-align: center;
    }
    // general Style --end

    .deleteIcon
    {
        left: 58% !important;
    }
// RegisterLocation -- end
}






