.MuiAutocomplete-inputRoot {
    flex-wrap: nowrap !important;
    height:40px;
    top: 0px !important
    
  }
  .MuiAutocomplete-input 
  {
    margin-top: -15px !important;
  }
  
  .mui-style-ltr-prkftb-MuiTable-root-table-stripped {
    min-width: 0px !important;
  }
  .mui-style-ltr-lgyxef-MuiPaper-root-MuiDialog-paper{
    max-width: 1000px !important;
  }
  .mui-style-ltr-46bh2p-MuiCardContent-root {
    padding: 8px !important;
    padding-bottom: 0px !important;
}