.MuiAutocomplete-inputRoot {
    flex-wrap: nowrap !important;
    height:40px;
    top: 0px !important
    
  }
  .MuiAutocomplete-input 
  {
    margin-top: -15px !important;
  }
  
  .mui-style-ltr-prkftb-MuiTable-root-table-stripped {
    min-width: 0px !important;
  }
