.MuiAutocomplete-inputRoot {
    flex-wrap: nowrap !important;
    height:40px;
    top: 0px !important
    
  }
  .MuiAutocomplete-input 
  {
    margin-top: -15px !important;
  }
  
  .mui-style-ltr-prkftb-MuiTable-root-table-stripped {
    min-width: 0px !important;
  }
  .mui-style-rtl-prkftb-MuiTable-root-table-stripped { 
    min-width: 0px !important;
  }
    
  .mui-style-ltr-lgyxef-MuiPaper-root-MuiDialog-paper{
    max-width: 1000px !important;
  }
  .mui-style-ltr-46bh2p-MuiCardContent-root {
    padding: 8px !important;
    padding-bottom: 0px !important;
}
.mui-style-ltr-1gcb22l-MuiPaper-root-MuiDialog-paper 
  {
    overflow-y: clip !important;
    height: 100% !important;
  }
  .mui-style-rtl-1gcb22l-MuiPaper-root-MuiDialog-paper {
    overflow-y: clip !important;
    height: 100% !important;
  }

/* .tss-1g1redb-MUIDataTableHeadCell-fixedHeader
{
  background-color: #b3d4fc !important;
} */
/* .mui-style-ltr-1347j2m-MuiPaper-root{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
} */
/* .tss-193o0zc-MUIDataTableSelectCell-headerCell {
  background-color: #b3d4fc !important;
} */


pre
{
    font-family: "Cairo" ;
}

/* used to make max width and height for table filter */
.tss-1apl66-MUIDataTableToolbar-filterPaper
{
  max-width: 80% !important;
  max-height: 500px !important;
}